[user]
	name = Jonathan Dahan
	email = hi@jonathan.is
[diff]
	word-diff = color
[alias]
	wdiff = diff --color-words
[alias]
	showtool = "!f() { git difftool $1^ $1; }; f"
	added = difftool --cached
[diff]
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE
[pager]
	difftool = true
[rebase]
	autoStash = true
