[user]
	name = Jonathan Dahan
	email = jonathan@jonathan.is
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[grep]
  extendRegexp = true
  lineNumber = true
[pull]
  rebase = true
[diff]
  algorithm = patience
[branch]
  autosetuprebase = always
[rebase]
  autostash = true
[github]
  username = jdehan
  oauth-token = 3eec47759671da73c77a70bef1d03af0ca54de68
