[user]
  name = Jonathan Dahan
  email = jonathan@jedahan.com
[alias]
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  g = grep --break --heading --line-number
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[grep]
  extendRegexp = true
  lineNumber = true
[pull]
  rebase = true
[diff]
  algorithm = patience
[branch]
	autosetuprebase = always
[core]
	editor = atom --wait
