[user]
	name = Jonathan Dehan
	email = jdehan@etsy.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[grep]
  extendRegexp = true
  lineNumber = true
[pull]
  rebase = true
[diff]
  algorithm = patience
[branch]
  autosetuprebase = always
[rebase]
  autostash = true
